.card {
  background: black;
  position: relative;
  cursor:pointer;
  height: 240px;
  border-radius: var(--radius);
  overflow: hidden;
  
}

.card:hover {
  transform: translate(0 , -3px);
  transition: all .2s ease-in;
}

.video{
    height: 100%;
}
.video video {
    min-height: 240px;
    max-height: 240px;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    z-index:1;
    border-radius: var(--radius);
    overflow: hidden;
}

.glass {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background: linear-gradient(
  54deg,
    var(--gradient_a) 21%,
    rgba(107, 107, 242, 0) 75%
  );
  position: absolute;
  z-index:2;
  border-radius: var(--radius);
  overflow: hidden;
}



.glass .icon {
  display: flex;
}
.glass .icon svg {
  font-size: 60px;
}
.glass .copy {
  display: flex;
  flex-direction: column;
  gap: 1em;
  
}

.glass .copy h2 {
 height: 45px;
}
