* {
  box-sizing: border-box;
}

html {
  --bgapp: #1a202c;
  --bglienzo: #131722;
  --bgmedia: #000000;

  --contrast: #ffffff;
  --lumina: #ffff;
  --radius: 12pt;
  --gradient_a: #030b1bcc;
  --gradient_b: #0b111eea;
  --gradient_c: #ffffff99;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--contrast);
}
.ant-tabs-tab-btn{
  color: var(--contrast);
}


body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  overflow: hidden;
  color: var(--contrast);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --bgapp: #1a202c;
  --bglienzo: #131722;
  --bgmedia: #000000;
  --contrast: #ffffff;
  --lumina: #ffff;
  --radius: 12pt;
  --gradient_a: #030b1bcc;
  }
  body {
    color: var(--contrast) !important;
  }
}


::-webkit-scrollbar {
  width: 3pt;
  height: 3pt;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--bgmedia);

}
::-webkit-scrollbar-thumb {
  background: var(--bgapp);
  border-radius: 1.8px
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bgapp);
}

