.app {
  background: var(--bglienzo);
}

.main {
  height: 100vh;
}
.main :global .ant-tabs .ant-tabs-top {
  margin: 0;
  padding: 0;
  padding: 1em;
}
.main :global .ant-tabs-nav {
  margin: 0;
}

.main :global .ant-tabs {
  color: var(--contrast);
}
.main :global .ant-tabs-nav-list {
  padding: 0.6em;
}



.main .header {
  height: 210px;
}

.main :global .ant-tabs-nav-wrap {
  height: 50px;
  background: var(--bgapp);
  }

.main .contenido {
   height:calc(100vh - 260px);
   overflow-y: overlay;
    background: var(--bgapp);
  }

