.container{
  position:relative;
  height: 100%;
  background: var(--bglienzo);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;

}



.meta{
  align-items: center;
  position: absolute;
  z-index: 3;
  top:calc(110px - 60px);
  display: flex;
  flex-direction: column;
  gap:.6em;
  padding:0 1em;
}

.picture {
  display: flex;
  position: relative;
}

.picture .glass {
  /* border: 2.1pt solid var(--contrast); */
  z-index: 3;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--bgapp);
}
.picture .glass svg {
  height: 90px;
  width: 90px;
  fill: var(--contrast);
  border-radius: 24%;
  padding: 10px;
}


