.container{
  position:relative;
  height: 100%;
  background: var(--bgmain);
}

.portada {
  background: var(--bgapp);
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.portada .portadaGlass {
  width: 100%;
  height: 110px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background: linear-gradient(
    12deg,
      var(--gradient_a) 12%,
      rgba(107, 107, 242, 0) 75%
    );
  padding: 0 3em;
}

.meta{
  align-items: center;
  position: absolute;
  z-index: 3;
  top:calc(110px - 60px);
  display: flex;
  flex-direction: column;
  gap:.6em;
  padding:0 1em;
}

.picContainer {
  display: flex;
  position: relative;
}

.picGlass {
  /* border: 2.1pt solid var(--contrast); */
  z-index: 3;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--bgapp);
}
.picGlass svg {
  height: 90px;
  width: 90px;
  fill: var(--contrast);
  border-radius: 24%;
  padding: 10px;
}


