.container {
  background: var(--gradient_a);
  height: 100%;
}
.glass {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  background: linear-gradient(
    21deg,
    rgba(45, 105, 130, 0.732) 0%,
    rgba(107, 107, 242, 0) 75%
  );
  transition: 0.3s;
}
.glass .image {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.glass .meta {
  flex: 9;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture {
  background: rgb(39, 39, 170);
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}
.picture svg {
  fill: white;
  width: 100%;
  height: 54px;
  font-size: 54px;
}
